In [1]:
import json
import os
import time
from datetime import datetime

from os.path import dirname, realpath
import sys
sys.path.append(dirname(dirname(realpath(os.getcwd()))))
import pickle
import torch
import multiprocessing as mp
from torch.nn.parallel import DistributedDataParallel as DDP
from collections import Counter
from copy import deepcopy
import datetime
import tqdm
import numpy as np
import random
import pandas as pd
src_path2 = "G:\\FillmoreCancerData\\markhe\\VTERisk - Copy" 

from collections import Counter
sys.path.append("./src/")

testDF = pd.read_csv(os.path.join(src_path2, 'Notebooks/Find/fixed_dx.csv'))
from sklearn.metrics import confusion_matrix

import datetime

def parse_date(date_str):
    if date_str == 'NA' or date_str is None:
        return datetime.datetime(9999,1,1,0,0)
    else:
        if len(date_str) == 10:
            format_str = '%Y-%m-%d'
        else:
            raise Exception("Format for {} not recognized!".format(date_str))
    return datetime.datetime.strptime(date_str, format_str)

In [2]:
VTE_path = 'Y:\\Fillmore_Cancer\\cat\\Users\\data\\derived\\vte_ml\\vte_ml\\data_for_chunlei'

In [ ]:
VTE_Death_Dates_for_Jen

In [6]:
Outcome = pd.read_csv(os.path.join(src_path2, 'Notebooks/Find/VTE_Death_Dates_for_Jen.csv'))

In [13]:
test_path = os.path.join(VTE_path, 'A2_CMP\\train2\\train.json')
X = json.load(open(os.path.join(test_path), 'r'))

In [8]:
Outcome

,Unnamed: 0,X,patient_id,outcome,dob,outcome_date,obs_time_end,index_date,DeathDate
0,1,0,1004880340,False,1921-09-04,2011-02-05,2011-02-05,2006-03-24,2011-02-05
1,2,1,1014382133,True,1948-03-12,2016-11-09,2018-12-13,2016-10-21,2018-12-13
2,3,2,1002850316,False,1925-08-08,2018-03-25,2018-03-25,2017-12-29,2018-03-25
3,4,3,1040528173,False,1944-12-21,2023-03-24,2023-03-24,2021-06-02,1000-01-01
4,5,4,1012154223,False,1913-08-10,2009-01-04,2009-01-04,2008-08-28,2009-01-04
...,...,...,...,...,...,...,...,...,...
123643,123644,123643,1007436652,False,1929-12-15,2007-12-02,2007-12-02,2007-08-09,2007-12-02
123644,123645,123644,1010685565,False,1941-03-19,2019-11-13,2019-11-13,2019-10-21,2019-11-13
123645,123646,123645,1003074961,False,1947-11-19,2010-06-24,2010-06-24,2009-08-18,1000-01-01
123646,123647,123646,1021189617,False,1947-03-07,2021-05-03,2021-05-03,2018-05-18,2021-05-03
123647,123648,123647,1013222575,False,1947-07-26,2012-11-22,2012-11-22,2012-09-19,2012-11-22

In [9]:
Y = X

In [12]:
X.keys()

AttributeError: 'int' object has no attribute 'keys'

In [23]:

for p in Y.keys():
    
    Y[p]['outcome_date'] =  m1 [ m1 ['PatICN']==p ]['diag_date'].values[0]

In [24]:
os.mkdir(os.path.join(VTE_path, 'A2_CMP\\train2'))

In [25]:
adjtrain = os.path.join(VTE_path, 'A2_CMP\\train2\\train.json')

In [26]:
with open(adjtrain, 'w') as fwd:
    print("Saving to {}\n".format(adjtrain))
    json.dump(Y, fwd, indent=None)

Saving to Y:\Fillmore_Cancer\cat\Users\data\derived\vte_ml\vte_ml\data_for_chunlei\A2_CMP\train2\train.json

In [5]:
X= 0