In [3]:
import json
from collections import Counter
from tqdm import tqdm
import pickle
import numpy as np
import pandas as pd
pd.options.display.max_colwidth = 100
import matplotlib
matplotlib.use('Agg')
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.gridspec import GridSpec
import sys
import os
import argparse
from os.path import dirname, realpath

import hashlib
import datetime
import datetime as datetime
import sklearn
import statistics
sys.path.append("./src/")
#from disrisknet.utils.parsing import parse_args
import pdb

src_path = "G:\\FillmoreCancerData\\markhe\\VTERisk" 
src_path2 = "G:\\FillmoreCancerData\\markhe\\VTERisk - Copy" 

from sklearn.metrics import confusion_matrix

In [4]:
testDF = pd.read_csv(os.path.join(src_path2, 'Notebooks/Find/allChars_DF.csv'))
from sklearn.metrics import confusion_matrix

In [5]:
logpath = os.path.join(src_path ,'logs_transformer_vte/F/', "0d071737ad78312a4c72357d28bd336b.results.test_preds")

In [6]:
 
with open(logpath, 'rb') as f:
    R6 = pickle.load(f)
    p6 = np.array(R6['probs'])

pat_ids = (testDF['patient_id'] ).astype(int)

def md5(key):
    return hashlib.md5(repr(key).encode()).hexdigest()

testDF['pids'] = pat_ids.apply(md5)

g6 = pd.DataFrame({'p6': R6['probs'] ,    
                   'pids':np.array(R6['pids']),    
                   'model_date':np.array(R6['dates'])
                  })

M = pd.merge(g6, testDF)

m = M[["patient_id","dx_date", "index_date", "model_date",  "outcome","outcome_date","p6" ]]
m['d']= pd.to_datetime(m['outcome_date']) - pd.to_datetime(m['model_date'])

m_VE = m[ m['outcome'] ]
m_VE1 = m_VE [   (pd.to_datetime( m_VE["outcome_date"] ) -pd.to_datetime( m_VE["index_date"] )) < datetime.timedelta(730)]
m_VE0 = m_VE [   (pd.to_datetime( m_VE["outcome_date"] ) -pd.to_datetime( m_VE["index_date"] )) >= datetime.timedelta(730)]
m_VE0["outcome"] = m_VE0["outcome"].replace(True, False)  
m0= m[ ~ m['outcome'] ]

m1 = pd.concat([m_VE1, m_VE0, m0])

C:\Users\VHANYNHeT\AppData\Local\Temp\2\ipykernel_73432\424652739.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m['d']= pd.to_datetime(m['outcome_date']) - pd.to_datetime(m['model_date'])
C:\Users\VHANYNHeT\AppData\Local\Temp\2\ipykernel_73432\424652739.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_VE0["outcome"] = m_VE0["outcome"].replace(True, False)

In [81]:
R6.keys()

dict_keys(['golds', 'probs', 'patient_golds', 'exams', 'pids', 'dates', 'censor_times', 'days_to_final_censors'])

In [82]:
M.keys()

Index(['p6', 'pids', 'model_date', 'Unnamed: 0', 'patient_id', 'outcome',
       'dob', 'outcome_date', 'obs_time_end', 'index_date', 'dx_date',
       'obs_time_start', 'ev_length', 'len0', 't0', 'len30', 't30', 'len90',
       't90', 'len180', 't180', 'ks', 'sex', 'bmi', 'race'],
      dtype='object')

In [83]:
M

,p6,pids,model_date,Unnamed: 0,patient_id,outcome,dob,outcome_date,obs_time_end,index_date,...,len30,t30,len90,t90,len180,t180,ks,sex,bmi,race
0,[0.6397188],fccd04485f7e2b254bc863b53b5f68f6,2012-04-19T00:00:00,108411,1013107540,False,1947-09-18,2012-09-07,2012-09-07,2012-03-20,...,835,2423 days,835,2423 days,835,2423 days,4,0,4,1
1,[0.8010643],b3804418cd23d5dce384847c7c8fd0ac,2014-09-18T00:00:00,18263,1002356359,False,1936-02-22,2015-10-28,2015-10-28,2014-08-21,...,1906,5668 days,1906,5668 days,1906,5668 days,4,0,2,1
2,[0.6944997],91f3e22be2c6a8d5f6aed1f6807b9e76,2016-04-18T00:00:00,113938,1012209348,False,1943-04-11,2022-04-21,2022-04-21,2016-03-22,...,1194,4200 days,1194,4200 days,1194,4200 days,0,0,2,1
3,[0.72740215],a6cd953798961f70382dbaf367def000,2013-08-07T00:00:00,81194,1009934317,False,1941-03-15,2013-10-11,2013-10-11,2013-07-08,...,1441,4094 days,1441,4094 days,1441,4094 days,5,0,4,5
4,[0.7188462],689bbf34fb87f3659c91fa304a2ad090,2021-06-23T00:00:00,109522,1010617362,False,1951-05-17,2023-05-31,2023-05-31,2021-05-24,...,1227,6755 days,1227,6755 days,1227,6755 days,1,0,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24688,[0.73357975],09093659329aee0430db9b80c3e8b777,2015-03-03T00:00:00,32830,1002011903,False,1948-02-14,2015-04-05,2015-04-05,2015-02-04,...,2411,5803 days,2411,5803 days,2411,5803 days,5,0,4,1
24689,[0.62877375],2ad8b60244666d164def2b7df5c7624d,2017-08-18T00:00:00,54789,1017232913,True,1975-07-24,2018-01-12,2023-05-11,2017-07-19,...,246,2489 days,229,2418 days,187,2342 days,0,1,0,0
24690,[0.77633923],92caa39bab1a003ed6cab695efffeee4,2015-11-12T00:00:00,72839,1006148759,False,1949-12-03,2016-07-20,2016-07-20,2015-10-14,...,1516,6075 days,1516,6075 days,1516,6075 days,3,0,3,1
24691,[0.6646374],ad471ea26578f4ab8cc5625c8d516df7,2010-12-07T00:00:00,45801,1008006255,False,1950-09-13,2011-01-08,2011-01-08,2010-11-05,...,1424,3278 days,1424,3278 days,1424,3278 days,3,0,3,1
24692,[0.7526664],ddbae65759fe3cf4f39f9592a80bd2ec,2014-05-30T00:00:00,73416,1012011210,True,1945-09-02,2014-06-13,2023-05-15,2014-04-30,...,1737,3345 days,1542,3285 days,1518,3168 days,1,0,2,5

In [84]:
sklearn.metrics.roc_auc_score(m1['outcome'],  m1['p6'], average = 'samples')

0.5168340405080649

In [85]:
( confusion_matrix (m1['outcome'],  m1['p6']>.5) )

array([[  403, 22278],
       [   27,  1985]], dtype=int64)

In [76]:
# how many people had event within 6 months of index date

In [77]:
m1.to_csv('output/CC8_test180.csv')

In [8]:
#m1.to_excel('output/dxMD_Sensitivity90.xlsx')

In [27]:
statistics.quantiles( M['len180'],n=20)

[289.0,
 390.0,
 471.0,
 541.0,
 610.0,
 677.0,
 743.0,
 809.0,
 879.0,
 952.0,
 1036.0,
 1128.0,
 1230.0,
 1343.0,
 1482.5,
 1647.0,
 1880.9,
 2189.0,
 2772.0]

In [23]:
plt.hist(M['len180'])

(array([2.2715e+04, 1.8050e+03, 1.3000e+02, 2.5000e+01, 1.2000e+01,
        1.0000e+00, 1.0000e+00, 1.0000e+00, 1.0000e+00, 2.0000e+00]),
 array([1.00000e+00, 2.37810e+03, 4.75520e+03, 7.13230e+03, 9.50940e+03,
        1.18865e+04, 1.42636e+04, 1.66407e+04, 1.90178e+04, 2.13949e+04,
        2.37720e+04]),
 <BarContainer object of 10 artists>)